.DS_Store
*.ipynb
*.pyc
*.txt
*.fits
*.so
*.o
*.egg
/LevinBessel/levin.egg-info/
/LevinBessel/build/
__pycache__
levin.egg-info
.vscode
/input/catalogue_mixed/*
/config_files/*
!/input/catalogue_mixed/tmptripletcounts_test.fits