.DS_Store
*.ipynb
*.pyc
*.txt
*.fits
*.so
*.o
*.egg
cz_covariance.py
/LevinBessel/levin.egg-info/
/LevinBessel/build/
__pycache__
levin.egg-info
.vscode
/input/catalogue_mixed/*
/output/*
/my_config_files/*
!/input/catalogue_mixed/tmptripletcounts_test.fits
!/output/Cell_gg.ascii
!/output/Cell_gkappa.ascii
!/output/Cell_kappakappa.ascii
/comparison_davide
test.ipynb
OneCovariance_make.sh
